# data files
data/

# csv files
*.csv

# machine learning models
*.pkl

# jupyter checkpoints
.ipynb_checkpoints/

# python cache
__pycache__/
*.pyc

# large archives
*.zip
*.tar

# notebooks checkpoints
.ipynb_checkpoints/

# logs
logs/


*.pbix
*.pdf
*.ispac

.vs/
bin/
obj/